.mockup {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;

  >.back {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002364;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  >div {
    width: 100%;
    height: auto;
    background-color: #002364;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #0d43aa;
    border-radius: 15px;

    >img {
      width: 100%;
      height: auto;
    }

    >h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: #fff;
      padding: 10px 0;
    }

    >p {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      color: #fff;
    }

    >a {
      width: 100%;
      height: auto;

      >button {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        background-color: #003699;
        border: none;
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background-color: #38b6ff;
          opacity: 0.8;
        }
      }
    }
  }
}
